.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}
.navbar-default .navbar-brand {
    color: black;
}
.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-brand:focus {
    color: #ccc;
}
.navbar-default .navbar-text, .dropdown-menu {
    color: black;
}
.navbar-default .navbar-nav > li > a,
.dropdown-menu > li > a {
    color: black;
}
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #ccc;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a {
    color: #ccc;
    background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus,
.dropdown-menu > .open > a:focus,
.dropdown-menu > .open > a:hover,
.dropdown-menu > .open > a {
    color: #ccc;
    background-color: #ffffff;
}
.navbar-default .navbar-toggle {
    border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
    background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: black;
}
.navbar-default .navbar-link {
    color: black;
}
.navbar-default .navbar-link:hover {
    color: #ccc;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: black;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ccc;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ccc;
        background-color: #ffffff;
    }
}

footer {
    position: relative;
    padding: 100px 0;
    color: white;
    /*background: #ccc;*/
    background: black;
    height:100%;
}

.navbar {
    margin-bottom:0px;
}

.dropdown-menu {
    border-color: #fff;
    border-radius: 0px;
}

footer > center > img {
    background-color:white;
    border-radius:100px;
    padding:15px;
}


