.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}
.navbar-default .navbar-brand {
    color: #e7eced;
}
.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-brand:focus {
    color: #c2b3d1;
}
.navbar-default .navbar-text, .dropdown-menu {
    color: #e7eced;
}
.navbar-default .navbar-nav > li > a,
.dropdown-menu > li > a {
    color: #e7eced;
}
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #c2b3d1;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a {
    color: #c2b3d1;
    background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #c2b3d1;
    background-color: #ffffff;
}
.navbar-default .navbar-toggle {
    border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #e7eced;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #e7eced;
}
.navbar-default .navbar-link {
    color: #e7eced;
}
.navbar-default .navbar-link:hover {
    color: #c2b3d1;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #e7eced;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #c2b3d1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #c2b3d1;
        background-color: #ffffff;
    }
}

header {
    position: relative;
    padding: 100px 0;
    color: white;
    background: #17A17F;
    height:100%;
}

.navbar {
    margin-bottom:0px;
}

.dropdown-menu {
    border-color: #fff;
    border-radius: 0px;
}