.navbar-default {
    background-color: #72dfe5;
    border-color: #4fb7be;
}
.navbar-default .navbar-brand {
    color: #edf1ef;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #fef9e6;
}
.navbar-default .navbar-text {
    color: #edf1ef;
}
.navbar-default .navbar-nav > li > a {
    color: #edf1ef;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fef9e6;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fef9e6;
    background-color: #4fb7be;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fef9e6;
    background-color: #4fb7be;
}
.navbar-default .navbar-toggle {
    border-color: #4fb7be;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #4fb7be;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #edf1ef;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #edf1ef;
}
.navbar-default .navbar-link {
    color: #edf1ef;
}
.navbar-default .navbar-link:hover {
    color: #fef9e6;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #edf1ef;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fef9e6;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fef9e6;
        background-color: #4fb7be;
    }
}