<!doctype html>
<html data-ng-app="myApp">
	<head>
		<title>GDST</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" type="image/ico" href="./impact-radius.png">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/styles.css" rel="stylesheet">
	</head>
	<body>
    <section class="container" ng-view></section>
    <!-- VIEWS -->
    	<script type="text/ng-template" id="actions">
	    	<input type="text" data-ng-model="filter.query" value="Search"/>
	    	<br>
	    	<select data-ng-model="filter.name">
	    		<option value="">Filter By</option>
	    	</select>
	    	<br>
	    	<select data-ng-model="filter.order">
	    		<option value="">Order By</option>
	    		<option value="payout">Payout Ascending</option>
	    		<option value="-payout">Payout Decending</option>
	    	</select>
	    	<br>
	    	<div class="table-responsive" data-ng-controller="ActionsController">
	    		<table class="table table-striped">
	    			<thead>
	  					<tr>
	  						<th>status</th>
	  						<th>state</th>
	  						<th>locked status</th>
	  						<th>payout</th>
	  						<th>delta payout</th>
	  						<th>intended payout</th>
	  						<th>amount</th>
	  						<th>delta amount</th>
	  						<th>intended amount</th>
	  					</tr>
  					</thead>
  					<tbody>
	  					<tr data-ng-repeat="a in actions | filter:filter.query | filter:filter.name:strict | orderBy:filter.order">
	  						<td>{{a.status}}</td>
	  						<td>{{a.state}}</td>
	  						<td>{{a.lockedStatus}}</td>
	  						<td>{{a.payout}}</td>
	  						<td>{{a.deltaPayout}}</td>
	  						<td>{{a.intendedPayout}}</td>
	  						<td>{{a.amount}}</td>
	  						<td>{{a.deltaAmount}}</td>
	  						<td>{{a.intendedAmount}}</td>
	  					</tr>
	  				</tbody>
  				</table>
	    	</div>
    	</script>
    <!-- VIEWS -->
    <!-- SCRIPTS -->
			<script src="js/jquery.min.js"></script>
			<script src="js/bootstrap.js"></script>
			<script src="js/angular.min.js"></script>
			<script src="js/angular-route.min.js"></script>
			<script src="data/ir-gm.actions.js"></script>
			<script src="js/libs.js"></script>
		<!-- SCRIPTS -->
	</body>
</html>
